{
    "swagger": "2.0", 
    "info": {
        "title": "Resource Inventory Management", 
        "description": "This is Swagger UI environment generated for the TMF Resource Inventory Management specification", 
        "version": "2.0"
    }, 
    "host": "biologeek.orange-labs.fr", 
    "basePath": "/tmf-api/resourceInventoryManagement", 
    "schemes": [
        "https"
    ], 
    "consumes": [
        "application/json"
    ], 
    "produces": [
        "application/json"
    ], 
    "paths": {
        "/resource": {
            "get": {
                "operationId": "listResource", 
                "summary": "List or find 'Resource' objects", 
                "tags": [
                    "resource"
                ], 
                "parameters": [
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "fields", 
                        "description": "Comma separated properties to display in response"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "publicIdentifier", 
                        "description": "For filtering: Public Identifier for the resources e.g 07564534677."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "name", 
                        "description": "For filtering: A string used to give a name to the resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "category", 
                        "description": "For filtering: A string. Category of the concrete resource. e.g Gold, Silver for MSISDN concrete resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@type", 
                        "description": "For filtering: Indicates the (class) type of resource. For physical resource this will be 'Equipment', For logical Resource this can be 'Resource Function' , 'MSISDN', 'IP Address'."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@baseType", 
                        "description": "For filtering: Indicates<b> </b>the immediate base (class) type of the resource. For resources pf type 'Equipment', baseType can be 'PhysicalResource'."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@schemaLocation", 
                        "description": "For filtering: This field provides a link to the schema describing this REST resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "lifecycleState", 
                        "description": "For filtering: The life cycle state of the resource."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "version", 
                        "description": "For filtering: A field that identifies the specific version of an instance of a resource."
                    }, 
                    {
                        "name": "validFor.startDateTime", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: An instant of time, starting at the TimePeriod"
                    }, 
                    {
                        "name": "validFor.endDateTime", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: An instant of time, ending at the TimePeriod."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceRelationship.type", 
                        "description": "For filtering: "
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "characteristic.name", 
                        "description": "For filtering: name of the characteristic"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "characteristic.@schemaLocation", 
                        "description": "For filtering: A link to the schema describing this characteristic"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "characteristic.@type", 
                        "description": "For filtering: (Class) type of the characteristic"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "place.name", 
                        "description": "For filtering: A user-friendly name for the place, such as \"Paris Store\", \"London Store\", \"Main Home\""
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "place.role", 
                        "description": "For filtering: Role of the place (for instance: 'home delivery', 'shop retrieval')"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "partyRole.name", 
                        "description": "For filtering: The name of the referred party role."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "partyRole.partyId", 
                        "description": "For filtering: The identifier of the engaged party that is linked to the PartyRole object."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "partyRole.partyName", 
                        "description": "For filtering: The name of the engaged party that is linked to the PartyRole object."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecification.name", 
                        "description": "For filtering: Name of the requiredResourceSpecification"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecification.version", 
                        "description": "For filtering: Resource specification version"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecification.@type", 
                        "description": "For filtering: Indicates the (class) type of ResourceSpecification.  For resource baseType LogicalResource this can be 'LogicalResource Specification'"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "attachment.type", 
                        "description": "For filtering: Attachment type such as video, picture"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "attachment.url", 
                        "description": "For filtering: Uniform Resource Locator, is a web page address (a subset of URI)"
                    }, 
                    {
                        "name": "note.date", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: Date of the note"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "note.author", 
                        "description": "For filtering: Author of the note"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "note.text", 
                        "description": "For filtering: Text of the note"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "relatedParty.role", 
                        "description": "For filtering: Role of the related party."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "relatedParty.name", 
                        "description": "For filtering: Name of the related party"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/Resource"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/resource/{id}": {
            "get": {
                "operationId": "retrieveResource", 
                "summary": "Retrieves a 'Resource' by Id", 
                "tags": [
                    "resource"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Resource"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/Resource"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }, 
            "patch": {
                "operationId": "patchResource", 
                "summary": "Updates partially a 'Resource' by Id", 
                "tags": [
                    "resource"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Resource"
                    }, 
                    {
                        "schema": {
                            "$ref": "#/definitions/Resource_Update"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "name": "resource", 
                        "description": "The Resource to be updated"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Updated", 
                        "schema": {
                            "$ref": "#/definitions/Resource"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/logicalResource": {
            "get": {
                "operationId": "listLogicalResource", 
                "summary": "List or find 'LogicalResource' objects", 
                "tags": [
                    "logicalResource"
                ], 
                "parameters": [
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "fields", 
                        "description": "Comma separated properties to display in response"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "publicIdentifier", 
                        "description": "For filtering: Public Identifier for the resources e.g 07564534677."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "name", 
                        "description": "For filtering: A string used to give a name to the resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "category", 
                        "description": "For filtering: A string. Category of the concrete resource. e.g Gold, Silver for MSISDN concrete resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@type", 
                        "description": "For filtering: Indicates the (class) type of resource. For physical resource this will be 'Equipment', For logical Resource this can be 'Resource Function' , 'MSISDN', 'IP Address'."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@baseType", 
                        "description": "For filtering: Indicates<b> </b>the immediate base (class) type of the resource. For resources pf type 'Equipment', baseType can be 'PhysicalResource'."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@schemaLocation", 
                        "description": "For filtering: This field provides a link to the schema describing this REST resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "lifecycleState", 
                        "description": "For filtering: The life cycle state of the resource."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "version", 
                        "description": "For filtering: A field that identifies the specific version of an instance of a resource."
                    }, 
                    {
                        "name": "validFor.startDateTime", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: An instant of time, starting at the TimePeriod"
                    }, 
                    {
                        "name": "validFor.endDateTime", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: An instant of time, ending at the TimePeriod."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "value", 
                        "description": "For filtering: the value of the logical resource. E.g '0746712345' for  MSISDN's"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceRelationship.type", 
                        "description": "For filtering: "
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "characteristic.name", 
                        "description": "For filtering: name of the characteristic"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "characteristic.@schemaLocation", 
                        "description": "For filtering: A link to the schema describing this characteristic"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "characteristic.@type", 
                        "description": "For filtering: (Class) type of the characteristic"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "place.name", 
                        "description": "For filtering: A user-friendly name for the place, such as \"Paris Store\", \"London Store\", \"Main Home\""
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "place.role", 
                        "description": "For filtering: Role of the place (for instance: 'home delivery', 'shop retrieval')"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "partyRole.name", 
                        "description": "For filtering: The name of the referred party role."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "partyRole.partyId", 
                        "description": "For filtering: The identifier of the engaged party that is linked to the PartyRole object."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "partyRole.partyName", 
                        "description": "For filtering: The name of the engaged party that is linked to the PartyRole object."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecification.name", 
                        "description": "For filtering: Name of the requiredResourceSpecification"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecification.version", 
                        "description": "For filtering: Resource specification version"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecification.@type", 
                        "description": "For filtering: Indicates the (class) type of ResourceSpecification.  For resource baseType LogicalResource this can be 'LogicalResource Specification'"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "attachment.type", 
                        "description": "For filtering: Attachment type such as video, picture"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "attachment.url", 
                        "description": "For filtering: Uniform Resource Locator, is a web page address (a subset of URI)"
                    }, 
                    {
                        "name": "note.date", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: Date of the note"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "note.author", 
                        "description": "For filtering: Author of the note"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "note.text", 
                        "description": "For filtering: Text of the note"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "relatedParty.role", 
                        "description": "For filtering: Role of the related party."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "relatedParty.name", 
                        "description": "For filtering: Name of the related party"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/LogicalResource"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }, 
            "post": {
                "operationId": "createLogicalResource", 
                "summary": "Creates a 'LogicalResource'", 
                "tags": [
                    "logicalResource"
                ], 
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/LogicalResource_Create"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "name": "logicalResource", 
                        "description": "The Logical Resource to be created"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Created", 
                        "schema": {
                            "$ref": "#/definitions/LogicalResource"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/logicalResource/{id}": {
            "get": {
                "operationId": "retrieveLogicalResource", 
                "summary": "Retrieves a 'LogicalResource' by Id", 
                "tags": [
                    "logicalResource"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Logical Resource"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/LogicalResource"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }, 
            "put": {
                "operationId": "updateLogicalResource", 
                "summary": "Updates a 'LogicalResource' by Id", 
                "tags": [
                    "logicalResource"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Logical Resource"
                    }, 
                    {
                        "schema": {
                            "$ref": "#/definitions/LogicalResource_Update"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "name": "logicalResource", 
                        "description": "The Logical Resource to be updated"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Updated", 
                        "schema": {
                            "$ref": "#/definitions/LogicalResource"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }, 
            "patch": {
                "operationId": "patchLogicalResource", 
                "summary": "Updates partially a 'LogicalResource' by Id", 
                "tags": [
                    "logicalResource"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Logical Resource"
                    }, 
                    {
                        "schema": {
                            "$ref": "#/definitions/LogicalResource_Update"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "name": "logicalResource", 
                        "description": "The Logical Resource to be updated"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Updated", 
                        "schema": {
                            "$ref": "#/definitions/LogicalResource"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }, 
            "delete": {
                "operationId": "deleteLogicalResource", 
                "summary": "Deletes a 'LogicalResource' by Id", 
                "tags": [
                    "logicalResource"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Logical Resource"
                    }
                ], 
                "responses": {
                    "204": {
                        "description": "Deleted"
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/physicalResource": {
            "get": {
                "operationId": "listPhysicalResource", 
                "summary": "List or find 'PhysicalResource' objects", 
                "tags": [
                    "physicalResource"
                ], 
                "parameters": [
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "fields", 
                        "description": "Comma separated properties to display in response"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "publicIdentifier", 
                        "description": "For filtering: Public Identifier for the resources e.g 07564534677."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "name", 
                        "description": "For filtering: A string used to give a name to the resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "category", 
                        "description": "For filtering: A string. Category of the concrete resource. e.g Gold, Silver for MSISDN concrete resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@type", 
                        "description": "For filtering: Indicates the (class) type of resource. For physical resource this will be 'Equipment', For logical Resource this can be 'Resource Function' , 'MSISDN', 'IP Address'."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@baseType", 
                        "description": "For filtering: Indicates<b> </b>the immediate base (class) type of the resource. For resources pf type 'Equipment', baseType can be 'PhysicalResource'."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "@schemaLocation", 
                        "description": "For filtering: This field provides a link to the schema describing this REST resource"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "lifecycleState", 
                        "description": "For filtering: The life cycle state of the resource."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "version", 
                        "description": "For filtering: A field that identifies the specific version of an instance of a resource."
                    }, 
                    {
                        "name": "validFor.startDateTime", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: An instant of time, starting at the TimePeriod"
                    }, 
                    {
                        "name": "validFor.endDateTime", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: An instant of time, ending at the TimePeriod."
                    }, 
                    {
                        "name": "manufactureDate", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: This is a string attribute that defines the date of manufacture of this item in the fixed format \"dd/mm/yyyy\". This is an optional attribute."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "powerState", 
                        "description": "For filtering: This defines the current power status of the hardware item. Values include:\n\n  0:  Unknown\n  1:  Not Applicable\n  2:  No Power Applied\n  3: Full Power Applied\n  4:  Power Save - Normal\n  5:  Power Save - Degraded\n  6:  Power Save - Standby\n  7:  Power Save - Critical\n  8:  Power Save - Low Power Mode\n  9:  Power Save - Unknown\n 10: Power Cycle\n 11: Power Warning\n 12: Power Off"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "serialNumber", 
                        "description": "For filtering: This is a string that represents a manufacturer-allocated number used to identify different instances of the same hardware item. The ModelNumber and PartNumber attributes are used to identify different types of hardware items. This is a REQUIRED attribute."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "versionNumber", 
                        "description": "For filtering: This is a string that identifies the version of this object. This is an optional attribute."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceRelationship.type", 
                        "description": "For filtering: "
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "characteristic.name", 
                        "description": "For filtering: name of the characteristic"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "characteristic.@schemaLocation", 
                        "description": "For filtering: A link to the schema describing this characteristic"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "characteristic.@type", 
                        "description": "For filtering: (Class) type of the characteristic"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "place.name", 
                        "description": "For filtering: A user-friendly name for the place, such as \"Paris Store\", \"London Store\", \"Main Home\""
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "place.role", 
                        "description": "For filtering: Role of the place (for instance: 'home delivery', 'shop retrieval')"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "partyRole.name", 
                        "description": "For filtering: The name of the referred party role."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "partyRole.partyId", 
                        "description": "For filtering: The identifier of the engaged party that is linked to the PartyRole object."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "partyRole.partyName", 
                        "description": "For filtering: The name of the engaged party that is linked to the PartyRole object."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecification.name", 
                        "description": "For filtering: Name of the requiredResourceSpecification"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecification.version", 
                        "description": "For filtering: Resource specification version"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "resourceSpecification.@type", 
                        "description": "For filtering: Indicates the (class) type of ResourceSpecification.  For resource baseType LogicalResource this can be 'LogicalResource Specification'"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "attachment.type", 
                        "description": "For filtering: Attachment type such as video, picture"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "attachment.url", 
                        "description": "For filtering: Uniform Resource Locator, is a web page address (a subset of URI)"
                    }, 
                    {
                        "name": "note.date", 
                        "format": "date-time", 
                        "required": false, 
                        "in": "query", 
                        "type": "string", 
                        "description": "For filtering: Date of the note"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "note.author", 
                        "description": "For filtering: Author of the note"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "note.text", 
                        "description": "For filtering: Text of the note"
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "relatedParty.role", 
                        "description": "For filtering: Role of the related party."
                    }, 
                    {
                        "type": "string", 
                        "required": false, 
                        "in": "query", 
                        "name": "relatedParty.name", 
                        "description": "For filtering: Name of the related party"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/PhysicalResource"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }, 
            "post": {
                "operationId": "createPhysicalResource", 
                "summary": "Creates a 'PhysicalResource'", 
                "tags": [
                    "physicalResource"
                ], 
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/PhysicalResource_Create"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "name": "physicalResource", 
                        "description": "The Physical Resource to be created"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Created", 
                        "schema": {
                            "$ref": "#/definitions/PhysicalResource"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/physicalResource/{id}": {
            "get": {
                "operationId": "retrievePhysicalResource", 
                "summary": "Retrieves a 'PhysicalResource' by Id", 
                "tags": [
                    "physicalResource"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Physical Resource"
                    }
                ], 
                "responses": {
                    "200": {
                        "description": "Ok", 
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/PhysicalResource"
                            }, 
                            "type": "array"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }, 
            "patch": {
                "operationId": "patchPhysicalResource", 
                "summary": "Updates partially a 'PhysicalResource' by Id", 
                "tags": [
                    "physicalResource"
                ], 
                "parameters": [
                    {
                        "required": true, 
                        "type": "string", 
                        "name": "id", 
                        "in": "path", 
                        "description": "Identifier of the Physical Resource"
                    }, 
                    {
                        "schema": {
                            "$ref": "#/definitions/PhysicalResource_Update"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "name": "physicalResource", 
                        "description": "The Physical Resource to be updated"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Updated", 
                        "schema": {
                            "$ref": "#/definitions/PhysicalResource"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/hub": {
            "post": {
                "operationId": "registerListener", 
                "summary": "Register a listener", 
                "description": "Sets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.", 
                "tags": [
                    "events subscription"
                ], 
                "parameters": [
                    {
                        "name": "data", 
                        "schema": {
                            "$ref": "#/definitions/EventSubscriptionInput"
                        }, 
                        "required": true, 
                        "in": "body", 
                        "description": "Data containing the callback endpoint to deliver the information"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Subscribed", 
                        "schema": {
                            "$ref": "#/definitions/EventSubscription"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "400": {
                        "description": "Bad Request", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }, 
        "/hub/{id}": {
            "delete": {
                "operationId": "unregisterListener", 
                "summary": "Unregister a listener", 
                "description": "Resets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.", 
                "tags": [
                    "events subscription"
                ], 
                "parameters": [
                    {
                        "name": "id", 
                        "type": "string", 
                        "required": true, 
                        "in": "path", 
                        "description": "The id of the registered listener"
                    }
                ], 
                "responses": {
                    "201": {
                        "description": "Unsubscribed"
                    }, 
                    "404": {
                        "description": "Not Found", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }, 
                    "500": {
                        "description": "Internal Server Error", 
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        }
    }, 
    "definitions": {
        "LogicalResource": {
            "type": "object", 
            "description": "Logic resource is a type of resource that describes the common set of attributes shared by all concrete logical resources (e.g. TPE, MSISDN, IP Addresses) in the inventory.", 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "Identifier of an instance of the resource. Required to be unique within the resource type.  Used in URIs as the identifier for specific instances of a type."
                }, 
                "publicIdentifier": {
                    "type": "string", 
                    "description": "Public Identifier for the resources e.g 07564534677."
                }, 
                "href": {
                    "type": "string", 
                    "description": "The URI for the object itself."
                }, 
                "name": {
                    "type": "string", 
                    "description": "A string used to give a name to the resource"
                }, 
                "description": {
                    "type": "string", 
                    "description": "free-text description of the resource"
                }, 
                "category": {
                    "type": "string", 
                    "description": "A string. Category of the concrete resource. e.g Gold, Silver for MSISDN concrete resource"
                }, 
                "@type": {
                    "type": "string", 
                    "description": "Indicates the (class) type of resource. For physical resource this will be 'Equipment', For logical Resource this can be 'Resource Function' , 'MSISDN', 'IP Address'."
                }, 
                "@baseType": {
                    "type": "string", 
                    "description": "Indicates<b> </b>the immediate base (class) type of the resource. For resources pf type 'Equipment', baseType can be 'PhysicalResource'."
                }, 
                "@schemaLocation": {
                    "type": "string", 
                    "description": "This field provides a link to the schema describing this REST resource"
                }, 
                "lifecycleState": {
                    "type": "string", 
                    "description": "The life cycle state of the resource."
                }, 
                "version": {
                    "type": "string", 
                    "description": "A field that identifies the specific version of an instance of a resource."
                }, 
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "The period for which the resource is valid"
                }, 
                "value": {
                    "type": "string", 
                    "description": "the value of the logical resource. E.g '0746712345' for  MSISDN's"
                }, 
                "resourceRelationship": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ResourceRelationship"
                    }
                }, 
                "characteristic": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ResourceCharacteristic"
                    }
                }, 
                "place": {
                    "$ref": "#/definitions/PlaceRef"
                }, 
                "partyRole": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/PartyRoleRef"
                    }
                }, 
                "resourceSpecification": {
                    "$ref": "#/definitions/ResourceSpecificationRef"
                }, 
                "attachment": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ResourceAttachmentRef"
                    }
                }, 
                "note": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/Note"
                    }
                }, 
                "relatedParty": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/RelatedPartyRef"
                    }
                }
            }
        }, 
        "LogicalResource_Create": {
            "type": "object", 
            "description": "Logic resource is a type of resource that describes the common set of attributes shared by all concrete logical resources (e.g. TPE, MSISDN, IP Addresses) in the inventory.\nSkipped properties: id,href", 
            "properties": {
                "publicIdentifier": {
                    "type": "string", 
                    "description": "Public Identifier for the resources e.g 07564534677."
                }, 
                "name": {
                    "type": "string", 
                    "description": "A string used to give a name to the resource"
                }, 
                "description": {
                    "type": "string", 
                    "description": "free-text description of the resource"
                }, 
                "category": {
                    "type": "string", 
                    "description": "A string. Category of the concrete resource. e.g Gold, Silver for MSISDN concrete resource"
                }, 
                "@type": {
                    "type": "string", 
                    "description": "Indicates the (class) type of resource. For physical resource this will be 'Equipment', For logical Resource this can be 'Resource Function' , 'MSISDN', 'IP Address'."
                }, 
                "@baseType": {
                    "type": "string", 
                    "description": "Indicates<b> </b>the immediate base (class) type of the resource. For resources pf type 'Equipment', baseType can be 'PhysicalResource'."
                }, 
                "@schemaLocation": {
                    "type": "string", 
                    "description": "This field provides a link to the schema describing this REST resource"
                }, 
                "lifecycleState": {
                    "type": "string", 
                    "description": "The life cycle state of the resource."
                }, 
                "version": {
                    "type": "string", 
                    "description": "A field that identifies the specific version of an instance of a resource."
                }, 
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "The period for which the resource is valid"
                }, 
                "value": {
                    "type": "string", 
                    "description": "the value of the logical resource. E.g '0746712345' for  MSISDN's"
                }, 
                "resourceRelationship": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ResourceRelationship"
                    }
                }, 
                "characteristic": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ResourceCharacteristic"
                    }
                }, 
                "place": {
                    "$ref": "#/definitions/PlaceRef"
                }, 
                "partyRole": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/PartyRoleRef"
                    }
                }, 
                "resourceSpecification": {
                    "$ref": "#/definitions/ResourceSpecificationRef"
                }, 
                "attachment": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ResourceAttachmentRef"
                    }
                }, 
                "note": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/Note"
                    }
                }, 
                "relatedParty": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/RelatedPartyRef"
                    }
                }
            }
        }, 
        "LogicalResource_Update": {
            "type": "object", 
            "description": "Logic resource is a type of resource that describes the common set of attributes shared by all concrete logical resources (e.g. TPE, MSISDN, IP Addresses) in the inventory.\nSkipped properties: id,href", 
            "properties": {
                "publicIdentifier": {
                    "type": "string", 
                    "description": "Public Identifier for the resources e.g 07564534677."
                }, 
                "name": {
                    "type": "string", 
                    "description": "A string used to give a name to the resource"
                }, 
                "description": {
                    "type": "string", 
                    "description": "free-text description of the resource"
                }, 
                "category": {
                    "type": "string", 
                    "description": "A string. Category of the concrete resource. e.g Gold, Silver for MSISDN concrete resource"
                }, 
                "@type": {
                    "type": "string", 
                    "description": "Indicates the (class) type of resource. For physical resource this will be 'Equipment', For logical Resource this can be 'Resource Function' , 'MSISDN', 'IP Address'."
                }, 
                "@baseType": {
                    "type": "string", 
                    "description": "Indicates<b> </b>the immediate base (class) type of the resource. For resources pf type 'Equipment', baseType can be 'PhysicalResource'."
                }, 
                "@schemaLocation": {
                    "type": "string", 
                    "description": "This field provides a link to the schema describing this REST resource"
                }, 
                "lifecycleState": {
                    "type": "string", 
                    "description": "The life cycle state of the resource."
                }, 
                "version": {
                    "type": "string", 
                    "description": "A field that identifies the specific version of an instance of a resource."
                }, 
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "The period for which the resource is valid"
                }, 
                "value": {
                    "type": "string", 
                    "description": "the value of the logical resource. E.g '0746712345' for  MSISDN's"
                }, 
                "resourceRelationship": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ResourceRelationship"
                    }
                }, 
                "characteristic": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ResourceCharacteristic"
                    }
                }, 
                "place": {
                    "$ref": "#/definitions/PlaceRef"
                }, 
                "partyRole": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/PartyRoleRef"
                    }
                }, 
                "resourceSpecification": {
                    "$ref": "#/definitions/ResourceSpecificationRef"
                }, 
                "attachment": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ResourceAttachmentRef"
                    }
                }, 
                "note": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/Note"
                    }
                }, 
                "relatedParty": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/RelatedPartyRef"
                    }
                }
            }
        }, 
        "PhysicalResource": {
            "type": "object", 
            "description": "Physical resource is a type of resource that describes the common set of attributes shared by all concrete physical resources (e.g. EQUIPMENT) in the inventory.", 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "Identifier of an instance of the resource. Required to be unique within the resource type.  Used in URIs as the identifier for specific instances of a type."
                }, 
                "publicIdentifier": {
                    "type": "string", 
                    "description": "Public Identifier for the resources e.g 07564534677."
                }, 
                "href": {
                    "type": "string", 
                    "description": "The URI for the object itself."
                }, 
                "name": {
                    "type": "string", 
                    "description": "A string used to give a name to the resource"
                }, 
                "description": {
                    "type": "string", 
                    "description": "free-text description of the resource"
                }, 
                "category": {
                    "type": "string", 
                    "description": "A string. Category of the concrete resource. e.g Gold, Silver for MSISDN concrete resource"
                }, 
                "@type": {
                    "type": "string", 
                    "description": "Indicates the (class) type of resource. For physical resource this will be 'Equipment', For logical Resource this can be 'Resource Function' , 'MSISDN', 'IP Address'."
                }, 
                "@baseType": {
                    "type": "string", 
                    "description": "Indicates<b> </b>the immediate base (class) type of the resource. For resources pf type 'Equipment', baseType can be 'PhysicalResource'."
                }, 
                "@schemaLocation": {
                    "type": "string", 
                    "description": "This field provides a link to the schema describing this REST resource"
                }, 
                "lifecycleState": {
                    "type": "string", 
                    "description": "The life cycle state of the resource."
                }, 
                "version": {
                    "type": "string", 
                    "description": "A field that identifies the specific version of an instance of a resource."
                }, 
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "The period for which the resource is valid"
                }, 
                "manufactureDate": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "This is a string attribute that defines the date of manufacture of this item in the fixed format \"dd/mm/yyyy\". This is an optional attribute."
                }, 
                "powerState": {
                    "type": "string", 
                    "description": "This defines the current power status of the hardware item. Values include:\n\n  0:  Unknown\n  1:  Not Applicable\n  2:  No Power Applied\n  3: Full Power Applied\n  4:  Power Save - Normal\n  5:  Power Save - Degraded\n  6:  Power Save - Standby\n  7:  Power Save - Critical\n  8:  Power Save - Low Power Mode\n  9:  Power Save - Unknown\n 10: Power Cycle\n 11: Power Warning\n 12: Power Off"
                }, 
                "serialNumber": {
                    "type": "string", 
                    "description": "This is a string that represents a manufacturer-allocated number used to identify different instances of the same hardware item. The ModelNumber and PartNumber attributes are used to identify different types of hardware items. This is a REQUIRED attribute."
                }, 
                "versionNumber": {
                    "type": "string", 
                    "description": "This is a string that identifies the version of this object. This is an optional attribute."
                }, 
                "resourceRelationship": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ResourceRelationship"
                    }
                }, 
                "characteristic": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ResourceCharacteristic"
                    }
                }, 
                "place": {
                    "$ref": "#/definitions/PlaceRef"
                }, 
                "partyRole": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/PartyRoleRef"
                    }
                }, 
                "resourceSpecification": {
                    "$ref": "#/definitions/ResourceSpecificationRef"
                }, 
                "attachment": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ResourceAttachmentRef"
                    }
                }, 
                "note": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/Note"
                    }
                }, 
                "relatedParty": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/RelatedPartyRef"
                    }
                }
            }
        }, 
        "PhysicalResource_Create": {
            "type": "object", 
            "description": "Physical resource is a type of resource that describes the common set of attributes shared by all concrete physical resources (e.g. EQUIPMENT) in the inventory.\nSkipped properties: id,href", 
            "properties": {
                "publicIdentifier": {
                    "type": "string", 
                    "description": "Public Identifier for the resources e.g 07564534677."
                }, 
                "name": {
                    "type": "string", 
                    "description": "A string used to give a name to the resource"
                }, 
                "description": {
                    "type": "string", 
                    "description": "free-text description of the resource"
                }, 
                "category": {
                    "type": "string", 
                    "description": "A string. Category of the concrete resource. e.g Gold, Silver for MSISDN concrete resource"
                }, 
                "@type": {
                    "type": "string", 
                    "description": "Indicates the (class) type of resource. For physical resource this will be 'Equipment', For logical Resource this can be 'Resource Function' , 'MSISDN', 'IP Address'."
                }, 
                "@baseType": {
                    "type": "string", 
                    "description": "Indicates<b> </b>the immediate base (class) type of the resource. For resources pf type 'Equipment', baseType can be 'PhysicalResource'."
                }, 
                "@schemaLocation": {
                    "type": "string", 
                    "description": "This field provides a link to the schema describing this REST resource"
                }, 
                "lifecycleState": {
                    "type": "string", 
                    "description": "The life cycle state of the resource."
                }, 
                "version": {
                    "type": "string", 
                    "description": "A field that identifies the specific version of an instance of a resource."
                }, 
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "The period for which the resource is valid"
                }, 
                "manufactureDate": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "This is a string attribute that defines the date of manufacture of this item in the fixed format \"dd/mm/yyyy\". This is an optional attribute."
                }, 
                "powerState": {
                    "type": "string", 
                    "description": "This defines the current power status of the hardware item. Values include:\n\n  0:  Unknown\n  1:  Not Applicable\n  2:  No Power Applied\n  3: Full Power Applied\n  4:  Power Save - Normal\n  5:  Power Save - Degraded\n  6:  Power Save - Standby\n  7:  Power Save - Critical\n  8:  Power Save - Low Power Mode\n  9:  Power Save - Unknown\n 10: Power Cycle\n 11: Power Warning\n 12: Power Off"
                }, 
                "serialNumber": {
                    "type": "string", 
                    "description": "This is a string that represents a manufacturer-allocated number used to identify different instances of the same hardware item. The ModelNumber and PartNumber attributes are used to identify different types of hardware items. This is a REQUIRED attribute."
                }, 
                "versionNumber": {
                    "type": "string", 
                    "description": "This is a string that identifies the version of this object. This is an optional attribute."
                }, 
                "resourceRelationship": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ResourceRelationship"
                    }
                }, 
                "characteristic": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ResourceCharacteristic"
                    }
                }, 
                "place": {
                    "$ref": "#/definitions/PlaceRef"
                }, 
                "partyRole": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/PartyRoleRef"
                    }
                }, 
                "resourceSpecification": {
                    "$ref": "#/definitions/ResourceSpecificationRef"
                }, 
                "attachment": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ResourceAttachmentRef"
                    }
                }, 
                "note": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/Note"
                    }
                }, 
                "relatedParty": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/RelatedPartyRef"
                    }
                }
            }
        }, 
        "PhysicalResource_Update": {
            "type": "object", 
            "description": "Physical resource is a type of resource that describes the common set of attributes shared by all concrete physical resources (e.g. EQUIPMENT) in the inventory.\nSkipped properties: id,href", 
            "properties": {
                "publicIdentifier": {
                    "type": "string", 
                    "description": "Public Identifier for the resources e.g 07564534677."
                }, 
                "name": {
                    "type": "string", 
                    "description": "A string used to give a name to the resource"
                }, 
                "description": {
                    "type": "string", 
                    "description": "free-text description of the resource"
                }, 
                "category": {
                    "type": "string", 
                    "description": "A string. Category of the concrete resource. e.g Gold, Silver for MSISDN concrete resource"
                }, 
                "@type": {
                    "type": "string", 
                    "description": "Indicates the (class) type of resource. For physical resource this will be 'Equipment', For logical Resource this can be 'Resource Function' , 'MSISDN', 'IP Address'."
                }, 
                "@baseType": {
                    "type": "string", 
                    "description": "Indicates<b> </b>the immediate base (class) type of the resource. For resources pf type 'Equipment', baseType can be 'PhysicalResource'."
                }, 
                "@schemaLocation": {
                    "type": "string", 
                    "description": "This field provides a link to the schema describing this REST resource"
                }, 
                "lifecycleState": {
                    "type": "string", 
                    "description": "The life cycle state of the resource."
                }, 
                "version": {
                    "type": "string", 
                    "description": "A field that identifies the specific version of an instance of a resource."
                }, 
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "The period for which the resource is valid"
                }, 
                "manufactureDate": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "This is a string attribute that defines the date of manufacture of this item in the fixed format \"dd/mm/yyyy\". This is an optional attribute."
                }, 
                "powerState": {
                    "type": "string", 
                    "description": "This defines the current power status of the hardware item. Values include:\n\n  0:  Unknown\n  1:  Not Applicable\n  2:  No Power Applied\n  3: Full Power Applied\n  4:  Power Save - Normal\n  5:  Power Save - Degraded\n  6:  Power Save - Standby\n  7:  Power Save - Critical\n  8:  Power Save - Low Power Mode\n  9:  Power Save - Unknown\n 10: Power Cycle\n 11: Power Warning\n 12: Power Off"
                }, 
                "serialNumber": {
                    "type": "string", 
                    "description": "This is a string that represents a manufacturer-allocated number used to identify different instances of the same hardware item. The ModelNumber and PartNumber attributes are used to identify different types of hardware items. This is a REQUIRED attribute."
                }, 
                "versionNumber": {
                    "type": "string", 
                    "description": "This is a string that identifies the version of this object. This is an optional attribute."
                }, 
                "resourceRelationship": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ResourceRelationship"
                    }
                }, 
                "characteristic": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ResourceCharacteristic"
                    }
                }, 
                "place": {
                    "$ref": "#/definitions/PlaceRef"
                }, 
                "partyRole": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/PartyRoleRef"
                    }
                }, 
                "resourceSpecification": {
                    "$ref": "#/definitions/ResourceSpecificationRef"
                }, 
                "attachment": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ResourceAttachmentRef"
                    }
                }, 
                "note": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/Note"
                    }
                }, 
                "relatedParty": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/RelatedPartyRef"
                    }
                }
            }
        }, 
        "Resource": {
            "type": "object", 
            "description": "Resource is an abstract entity that describes the common set of attributes shared by all concrete resources (e.g. TPE, EQUIPMENT) in the inventory.", 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "Identifier of an instance of the resource. Required to be unique within the resource type.  Used in URIs as the identifier for specific instances of a type."
                }, 
                "publicIdentifier": {
                    "type": "string", 
                    "description": "Public Identifier for the resources e.g 07564534677."
                }, 
                "href": {
                    "type": "string", 
                    "description": "The URI for the object itself."
                }, 
                "name": {
                    "type": "string", 
                    "description": "A string used to give a name to the resource"
                }, 
                "description": {
                    "type": "string", 
                    "description": "free-text description of the resource"
                }, 
                "category": {
                    "type": "string", 
                    "description": "A string. Category of the concrete resource. e.g Gold, Silver for MSISDN concrete resource"
                }, 
                "@type": {
                    "type": "string", 
                    "description": "Indicates the (class) type of resource. For physical resource this will be 'Equipment', For logical Resource this can be 'Resource Function' , 'MSISDN', 'IP Address'."
                }, 
                "@baseType": {
                    "type": "string", 
                    "description": "Indicates<b> </b>the immediate base (class) type of the resource. For resources pf type 'Equipment', baseType can be 'PhysicalResource'."
                }, 
                "@schemaLocation": {
                    "type": "string", 
                    "description": "This field provides a link to the schema describing this REST resource"
                }, 
                "lifecycleState": {
                    "type": "string", 
                    "description": "The life cycle state of the resource."
                }, 
                "version": {
                    "type": "string", 
                    "description": "A field that identifies the specific version of an instance of a resource."
                }, 
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "The period for which the resource is valid"
                }, 
                "resourceRelationship": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ResourceRelationship"
                    }
                }, 
                "characteristic": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ResourceCharacteristic"
                    }
                }, 
                "place": {
                    "$ref": "#/definitions/PlaceRef"
                }, 
                "partyRole": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/PartyRoleRef"
                    }
                }, 
                "resourceSpecification": {
                    "$ref": "#/definitions/ResourceSpecificationRef"
                }, 
                "attachment": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ResourceAttachmentRef"
                    }
                }, 
                "note": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/Note"
                    }
                }, 
                "relatedParty": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/RelatedPartyRef"
                    }
                }
            }
        }, 
        "Resource_Update": {
            "type": "object", 
            "description": "Resource is an abstract entity that describes the common set of attributes shared by all concrete resources (e.g. TPE, EQUIPMENT) in the inventory.\nSkipped properties: id,href,id,href,@type,@baseType", 
            "properties": {
                "publicIdentifier": {
                    "type": "string", 
                    "description": "Public Identifier for the resources e.g 07564534677."
                }, 
                "name": {
                    "type": "string", 
                    "description": "A string used to give a name to the resource"
                }, 
                "description": {
                    "type": "string", 
                    "description": "free-text description of the resource"
                }, 
                "category": {
                    "type": "string", 
                    "description": "A string. Category of the concrete resource. e.g Gold, Silver for MSISDN concrete resource"
                }, 
                "@schemaLocation": {
                    "type": "string", 
                    "description": "This field provides a link to the schema describing this REST resource"
                }, 
                "lifecycleState": {
                    "type": "string", 
                    "description": "The life cycle state of the resource."
                }, 
                "version": {
                    "type": "string", 
                    "description": "A field that identifies the specific version of an instance of a resource."
                }, 
                "validFor": {
                    "$ref": "#/definitions/TimePeriod", 
                    "description": "The period for which the resource is valid"
                }, 
                "resourceRelationship": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ResourceRelationship"
                    }
                }, 
                "characteristic": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ResourceCharacteristic"
                    }
                }, 
                "place": {
                    "$ref": "#/definitions/PlaceRef"
                }, 
                "partyRole": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/PartyRoleRef"
                    }
                }, 
                "resourceSpecification": {
                    "$ref": "#/definitions/ResourceSpecificationRef"
                }, 
                "attachment": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/ResourceAttachmentRef"
                    }
                }, 
                "note": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/Note"
                    }
                }, 
                "relatedParty": {
                    "type": "array", 
                    "items": {
                        "$ref": "#/definitions/RelatedPartyRef"
                    }
                }
            }
        }, 
        "TimePeriod": {
            "type": "object", 
            "description": "A base / value business entity used to represent a period of time between two timepoints.", 
            "properties": {
                "startDateTime": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "An instant of time, starting at the TimePeriod"
                }, 
                "endDateTime": {
                    "type": "string", 
                    "format": "date-time", 
                    "description": "An instant of time, ending at the TimePeriod."
                }
            }
        }, 
        "ResourceRelationship": {
            "type": "object", 
            "properties": {
                "type": {
                    "type": "string", 
                    "description": "Linked Resources to the one instantiate, it can be :\n- \"reliesOn\" if the Resource needs another already owned Resource to rely on \n- \"targets\" or \"isTargeted\" (depending on the way of expressing the link) for any other kind of links that may be useful"
                }
            }
        }, 
        "ResourceCharacteristic": {
            "type": "object", 
            "properties": {
                "name": {
                    "type": "string", 
                    "description": "Name of the characteristic"
                }, 
                "value": {
                    "type": "string", 
                    "description": "Value of the characteristic"
                }
            }
        }, 
        "PlaceRef": {
            "type": "object", 
            "description": "Place reference. Place defines the places where the products are sold or delivered.", 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "Unique identifier of the place"
                }, 
                "href": {
                    "type": "string", 
                    "description": "Unique reference of the place"
                }, 
                "name": {
                    "type": "string", 
                    "description": "A user-friendly name for the place, such as \"Paris Store\", \"London Store\", \"Main Home\""
                }, 
                "role": {
                    "type": "string", 
                    "description": "Role of the place (for instance: 'home delivery', 'shop retrieval')"
                }
            }
        }, 
        "PartyRoleRef": {
            "type": "object", 
            "description": "Party role reference. A party role represents the part played by a party in a given context.", 
            "properties": {
                "href": {
                    "type": "string", 
                    "description": "Reference of the product"
                }, 
                "id": {
                    "type": "string", 
                    "description": "Unique identifier of the product"
                }, 
                "name": {
                    "type": "string", 
                    "description": "The name of the referred party role."
                }, 
                "partyId": {
                    "type": "string", 
                    "description": "The identifier of the engaged party that is linked to the PartyRole object."
                }, 
                "partyName": {
                    "type": "string", 
                    "description": "The name of the engaged party that is linked to the PartyRole object."
                }
            }
        }, 
        "ResourceSpecificationRef": {
            "type": "object", 
            "description": "Resource Specification reference: The ResourceSpecification is required to realize a ProductSpecification.", 
            "properties": {
                "id": {
                    "type": "string", 
                    "description": "Unique identifier of the resource specification"
                }, 
                "href": {
                    "type": "string", 
                    "description": "Reference of the resource specification"
                }, 
                "name": {
                    "type": "string", 
                    "description": "Name of the requiredResourceSpecification"
                }, 
                "version": {
                    "type": "string", 
                    "description": "Resource specification version"
                }, 
                "@type": {
                    "type": "string", 
                    "description": "Indicates the (class) type of ResourceSpecification.  For resource baseType LogicalResource this can be 'LogicalResource Specification'"
                }
            }
        }, 
        "ResourceAttachmentRef": {
            "type": "object", 
            "description": "Complements the description of an element (for instance a product) through video, pictures...", 
            "properties": {
                "description": {
                    "type": "string", 
                    "description": "A narrative text describing the content of the attachment"
                }, 
                "href": {
                    "type": "string", 
                    "description": "Reference of the attachment"
                }, 
                "id": {
                    "type": "string", 
                    "description": "Unique identifier of the attachment"
                }, 
                "type": {
                    "type": "string", 
                    "description": "Attachment type such as video, picture"
                }, 
                "url": {
                    "type": "string", 
                    "description": "Uniform Resource Locator, is a web page address (a subset of URI)"
                }
[...]
